extends layout
block  append head
	script(src='/getscript.js')
block content
	-console.log(cities)
	-console.log(typeof(cities))
	-console.log('cities')
	formwrapper.row
		.page-header
			h1 Получите прогноз погоды
		form.well.well-lg.col-md-6.col-md-offset-3(method='post' id='createVidget' name='createVidget' action='/vidget')
			.field.form-group
				label(for='city') Город
				input.form-control(name='city' id='city' type='text'  size='15' list='cityList')
				datalist(id='cityList' style='height:200px')
					each val, cityitem in cities
						option(value=cityitem) #{val}

			.form-group
				.field
					p range of dates
					label.radio-inline 
						input(name='rangeofdates' type='radio' value='1')
						|1 day
					label.radio-inline 
						input(name='rangeofdates' type='radio' value='3')
						|3 days
					label.radio-inline 
						input(name='rangeofdates' type='radio' value='7')
						|week
				.field
					p Orientation
					label.radio-inline
						input(name='orientation' type='radio' value='horizontal')
						|Horizontal
					label.radio-inline
						input(name='orientation' type='radio' value='vertical')
						|Vertical
			unless user			
				button(type='button' form='createVidget' onclick='getVidget(event,"get","/forecast/",["city","rangeofdates","orientation"],"",["vidget(newrequest.responseText,orientation,Vid,rangeofdates)"])') get Vidget
			else
				
				button(type='button' form='createVidget' onclick='getVidget(event,"get","/forecast/",["city","rangeofdates","orientation"],"",["vidget(newrequest.responseText,orientation,Vid,rangeofdates)"])') get Vidget

				button(type='button' form='createVidget' onclick='getVidget(event,"post","/forecast/",["city","rangeofdates","orientation"],"",["vidget(newrequest.responseText,orientation,Vid,rangeofdates)"])') Get and save

