extends layout
block content
	p Регистрация нового пользователя
	form(id='registration' action='/register')
		.field 
			label(for='login') Login
			input#login(name='login' type='text' size='30')
		.field 
			label(for='password') Password
			input#password(name='password' type='password' size='30')
		.field
	button(type='button' form='registration' onclick='requestNew(event,"post","/register",["login","password"])') register